.dd{
    height: auto !important;
    padding: 40px 75px !important;
}

.dd .colll ul li{
    margin-bottom: 10px !important;
    display: block;
    list-style: none;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

.dd .colll ul li:hover{
    cursor: pointer;
    font-size: 20px;
    position: relative;
    color: #3bb77e;
    transform: scale(1.0);
}

.r{
    font-size: 28px;
    color: #3bb77e;
    padding-top: 10px;
    padding-bottom: 20px;
}
